@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-100;
}

.modal-wrapper {
  @apply absolute inset-0 flex flex-col items-center justify-center bg-gray-400 opacity-50;
}

.modal-container {
  @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] min-w-[26rem] max-h-[40rem] h-auto p-[2rem] bg-white dark:bg-slate-800 dark:text-white rounded-lg
  overflow-y-auto;
}

.feed-events-bucket {
  @apply max-w-[1272px] relative pt-[24px] pb-[40px];
}

/* .sub-menu-wrap {
  @apply absolute top-[100%] right-[10%] w-[320px] max-h-[0px] overflow-hidden transition max-h 0.5s;
}

.sub-menu-wrap.open-menu {
  @apply max-h-[400px];
} */

.sub-menu {
  @apply bg-white dark:bg-slate-900 p-[20px] m-[10px] border-2 border-gray-400 rounded-[20px];
}

.user-info {
  @apply flex items-center;
}

.sub-menu-link {
  @apply flex items-center mt-[12px] mb-0;
}

.sub-menu-link-icon {
  @apply w-[40px] bg-[#e5e5e5] dark:bg-black rounded-xl p-[4px] h-[30px] mr-[10px];
}

.sub-menu-link p {
  @apply w-[100%] dark:text-slate-400;
}

.sub-menu-link span {
  @apply font-normal transform duration-300;
}

.sub-menu-link:hover span {
  @apply translate-x-[5px];
}
.sub-menu-link:hover p {
  @apply font-bold;
}

* {
  font-family: "Laila", serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 5rem;
}

.sub-menu-wrap {
  position: absolute;
  top: 80%;
  right: 0;
  width: 280px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  border-radius: 25px;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}
